<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExtJs学习</title>
    <link href="~/Content/js/ExtJs/ext-theme-classic-all.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/js/ExtJs/ext-locale-zh_CN.js"></script>
    <script type="text/javascript" src="~/Content/js/ExtJs/ext-all.js"></script>
    <script type="text/javascript" src="~/Content/js/Res.js"></script>
    @RenderSection("scripts", false)
</head>
<body style="margin:0 auto; max-width: 1000px;">
    <div id="content">@RenderBody()</div>
</body>
</html>
