@{ 
    Layout = "../Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript" src="~/Script/Home/index.js?v=1.0.0"></script>
}

@*<input type="checkbox" value="1" id="12"/> <label for="12">你好啊</label>*@